.ending {
    background-color: grey;
}

.starter {
    background-color: black;
}

.googlebook {
    color: white;
}

.search {
    color: white;
}

.searching {
    height: 120px;
}

.save {
    color: white;
}

html, body {
    overflow-y: auto;
    overflow-x: hidden;
}

.searchbackground {
    background-color: rgb(252, 114, 34);
}

.title {
    font-weight: bold;
}
.text{
    color:white;
}